body {
  margin: 0;
  background: white;
  padding-bottom: 200px;
}
#logo {
  display: flex;
  justify-content: center;
}
#logo-pic {
  display: inline;
  width: 151px;
  height: 168px;
  left: 22px;
  top: 3px;
}
#top-header {
  display: flexbox;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: #f8edec;
}
.container {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

nav {
  background: #fff;
  padding: 1px;
}
ul {
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 1vw 3vw;
  margin: 1vw;
  font-size: 18px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}
@media (max-width: 620px) {
  nav ul li {
    padding: 5px;
    font-size: 16px;
  }
  .container {
    justify-content: space-evenly;
    flex: 1;
  }
}
nav ul li::after {
  content: "";
  background: #f8edec;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover {
  color: #777;
}
a:hover {
  color: #ffff;
}

nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}

.dropdown-content {
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  display: block;
}

a {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.valentines-day-pic {
  display: block;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
